<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Unconfirmed Account - Bayya Bitcoin Crypto Currency Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/skins/orange.css') }}">
    
    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="orange" href="{{ url_for('static', filename='assets/css/skins/orange.css') }}" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="{{ url_for('static', filename='assets/css/skins/green.css') }}" />
    <link rel="alternate stylesheet" type="text/css" title="blue" href="{{ url_for('static', filename='assets/css/skins/blue.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/styleswitcher.css') }}" />

    <!-- Template JS Files -->
    <script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>

</head>

<body class="auth-page">
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid user-auth">
            <!-- Alert Starts -->
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-responsive="true" data-dismiss="alert"><span class="close">&times</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            <!-- Alert Ends -->
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
					<!-- Logo Starts -->
					<a class="logo" href="{{ url_for('main.index') }}">
						<img id="logo-user" class="img-responsive" src="{{ url_for('static', filename='assets/images/logo-dark.png') }}" alt="logo">
					</a>
					<!-- Logo Ends -->
					<!-- Slider Starts -->
					<div id="carousel-testimonials" class="carousel slide carousel-fade" data-ride="carousel">
						<!-- Indicators Starts -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-testimonials" data-slide-to="1"></li>
							<li data-target="#carousel-testimonials" data-slide-to="2"></li>
						</ol>
						<!-- Indicators Ends -->
						<!-- Carousel Inner Starts -->
						<div class="carousel-inner">
							<!-- Carousel Item Starts -->
							<div class="item active item-1">
								<div>
									<blockquote>
										<p>Hello everyone, I'm here to say a big thank you to my expert trader on Bitcoin investment @cryptofinesse she is one of the best on online investments, you can try her. Today am financial free from all depth and I have enough to train my kids to the higher institution. I really don't know how best to say I'm grateful for your help but all I'll say is God bless you and your family cryptofinesse. I really appreciate the effort Mrs Teresa Benitez has put to make sure I'm a successful investor on the stock exchange market. I first I didn't believed in it but she told me that I should trust the process and I did. Invest $100 and earn $500 cryptofinesse She's very trustworthy
										</p>
										<footer><span>Lucy Smith</span>, England</footer>
									</blockquote>
								</div>
							</div>
							<!-- Carousel Item Ends -->
							<!-- Carousel Item Starts -->
							<div class="item item-2">
								<div>
									<blockquote>
										<p>@cryptofinesse help me earned $10,000 after I invested $2000. All thanks to Mrs Teresa Benitez, God bless you. Invest your Cryptocurrency with @cryptofinesse she's reliable
. @earn_with_mrs.teresa helped Me earned $15000, thank you for all your good works</p>
										<footer><span>Slim Hamdi</span>, Tunisia</footer>
									</blockquote>
								</div>
							</div>
							<!-- Carousel Item Ends -->
							<!-- Carousel Item Starts -->
							<div class="item item-3">
								<div>
									<blockquote>
										<p>I invested $100,000 on @cryptofinesse and earned $500,000. Thanks Madam, please keep up the good works. With Mrs Teresa Benitez, trading bitcoins is real and very profitable. @cryptofinesse. Ever since I started investing with Mrs Teresa Benitez, she has always kept to her word, so I urge each one of you to visit her page cryptofinesse and get information on how to start earning.</p>
										<footer><span>Rawia Chniti</span>, Russia</footer>
									</blockquote>
								</div>
							</div>
							<!-- Carousel Item Ends -->
						</div>
						<!-- Carousel Inner Ends -->
					</div>
					<!-- Slider Ends -->
				</div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <!-- Logo Starts -->
                <a class="visible-xs" href="{{ url_for('main.index') }}">
                    <img id="logo" class="img-responsive mobile-logo" src="{{ url_for('static', filename='assets/images/logo-dark.png') }}" alt="logo">
                </a>
                <!-- Logo Ends -->
                <div class="form-container">
                    <div>
                        <!-- Section Title Starts -->
                        <div class="row text-center">
                            <h2 class="title-head hidden-xs">Unconfirmed <span>Account</span></h2>
                             <p class="info-form">Please confirm your account!</p>
                        </div>
                        <!-- Section Title Ends -->
                        <!-- Form Starts -->
                        
                        <p>check your mail</p>
                        <p>or click here to <a href="{{ url_for('auth.resend_confirmation') }}">resend mail</a></p>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Copyright Text Starts -->
<!--                <p class="text-center copyright-text">Copyright © 2023 Cryptofinesse All Rights Reserved</p>-->
                <!-- Copyright Text Ends -->
            </div>
        </div>
        <!-- Template JS Files -->
        <script src="{{ url_for('static', filename='assets/js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
        
        <!-- Live Style Switcher JS File - only demo -->
        <script src="{{ url_for('static', filename='assets/js/styleswitcher.js') }}"></script>

    </div>
    <!-- Wrapper Ends -->
</body>

</html>