<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Easy Profile Green - templatemo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-green.css') }}">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="{{ url_for('static', filename='assets/images/tm-easy-profile.jpg') }}" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<hr>
				<h1 class="tm-title bold shadow">Hi, I am Julia</h1>
				<h1 class="white bold shadow">Creative Director</h1>
			</div>
		</div>
	</div>
</header>

<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="education" style="box-shadow: 2px 4px 7px; border-radius: 10px; border:2px solid darkgrey; display: table; width:95%; margin: 0 auto;">
				<h2 class="white">USER</h2>
					<div class="education-content">
						<h4 class="education-title accent"><strong>USER DETAILS</strong></h4>
							<div class="education-school">
								<div class="row" >
						            <div class="col-sm-6 col-md-6" style=" border:2px solid clear; padding-bottom:10px padding-top:10px; margin-right: auto;">
						                <h4>Balance: <span style="color: black; width: 30px; box-shadow: 2px 4px 7px; border-radius: 5px; border:2px solid clear; background-color: #5555; padding:5px ;"><i class="fa fa-dollar">    </i>00000.00</span>
						                </h4>
						                <br>
						                <h4>BTC Balance: <span style="color: black; border-radius: 5px; border:2px solid clear; box-shadow: 2px 4px 7px; background-color: #5555; padding: 5px;"><i class="fa fa-bitcoin">    </i>000.0000</span>
						                </h4>
						                <br>
						                <h4>Account level: <span style="color: black; border-radius: 5px; border:2px solid clear; box-shadow: 2px 4px 7px; background-color: #5555; padding: 5px;">        Starter</span>
						                </h4>
						            </div>
						            <div class="col-sm-6 col-md-6" style="border:2px solid clear; padding-bottom:10px padding-top:10px;">
						                <h4>i</h4>
						                <h4>o</h4>
						                <h4>i </h4>
						                <h4>l </h4>
						            </div>
						        </div><br>
							</div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- contact and experience -->
<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h2>Contact</h2>
					<p><i class="fa fa-map-marker"></i> 123 Rama IX Road, Bangkok</p>
					<p><i class="fa fa-phone"></i> 010-020-0890</p>
					<p><i class="fa fa-envelope"></i> easy@company.com</p>
					<p><i class="fa fa-globe"></i> www.company.com</p>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
				<h2 class="white">Experiences</h2>
					<div class="experience-content">
						<h4 class="experience-title accent">Website Development</h4>
						<h5>New Media Company</h5><span></span>
						<h5>2035 January - 2036 April</h5>
						<p class="education-description">Cras porta tincidunt sem, in sollicitudin lorem efficitur ut. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
					</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
            <div class="col-md-12">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div id="tradingview_c7345"></div>
                  <div class="tradingview-widget-copyright">
                      <a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank">
                          <span class="blue-text">AAPL Chart</span>
                      </a> by TradingView
                  </div>
                  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                  <script type="text/javascript">
                  new TradingView.widget(
                  {
                  "width": 650,
                  "height": 610,
                  "symbol": "NASDAQ:AAPL",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "dark",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "allow_symbol_change": true,
                  "container_id": "tradingview_c7345"
                }
                  );
                  </script>
                </div>
                <!-- TradingView Widget END -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="margin: auto;  width: 50%;  border: 3px solid clear;  padding: 10px;">
                  <div class="tradingview-widget-container__widget" style="margin: auto;  width: 50%;  border: 3px solid clear;  padding: 10px;">
                      <p>YES</p>
                  </div>
                  <div class="tradingview-widget-copyright" style="margin: auto;  width: 50%; padding: 10px;">
                      <a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank">
                          <span class="blue-text">Cryptocurrency Markets</span>
                      </a> by TradingView
                  </div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                  {
                  "width": 780,
                  "height": 490,
                  "defaultColumn": "overview",
                  "screener_type": "crypto_mkt",
                  "displayCurrency": "USD",
                  "colorTheme": "dark",
                  "locale": "en"
                }
                  </script>
                </div>
                <!-- TradingView Widget END -->
            </div>
    </div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2084 Your Easy Profile</p>
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-github"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- javascript js -->
<script src="{{ url_for('static', filename='assets/js/jquery (2).js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.backstretch.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

</body>
</html>