<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Unconfirmed - Cryptofinesse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/skins/orange.css') }}">
    
    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="orange" href="{{ url_for('static', filename='assets/css/skins/orange.css') }}" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="{{ url_for('static', filename='assets/css/skins/green.css') }}" />
    <link rel="alternate stylesheet" type="text/css" title="blue" href="{{ url_for('static', filename='assets/css/skins/blue.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/styleswitcher.css') }}" />

    <!-- Template JS Files -->
    <script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>

</head>

<body class="auth-page">
    <!-- Wrapper Starts -->
    <div class="wrapper">
        <div class="container-fluid user-auth">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <!-- Logo Starts -->
                <a class="visible-xs" href="{{ url_for('main.index') }}">
                    <img id="logo" class="img-responsive mobile-logo" src="{{ url_for('static', filename='assets/images/logo-dark.png') }}" alt="logo">
                </a>
                <!-- Logo Ends -->
                <div class="form-container">
                    <div>
                        <!-- Section Title Starts -->
                        <div class="row text-center">
                            <h2 class="title-head hidden-xs">Question for <span>Admin</span></h2>
                             <p class="info-form">Hello Admin!</p>
                        </div>
                        <!-- Section Title Ends -->
                        <!-- Form Starts -->
                        
                        <p><b><strong>USERS MESSAGE:</strong></b></p>
                        <p>{{ message }}</p>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Copyright Text Starts -->
                <p class="text-center copyright-text">Copyright © 2023 Cryptofinesse All Rights Reserved</p>
                <!-- Copyright Text Ends -->
            </div>
        </div>
        <!-- Template JS Files -->
        <script src="{{ url_for('static', filename='assets/js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
        
        <!-- Live Style Switcher JS File - only demo -->
        <script src="{{ url_for('static', filename='assets/js/styleswitcher.js') }}"></script>

    </div>
    <!-- Wrapper Ends -->
</body>

</html>